* {
  box-sizing: border-box;
}

body {
  background-color: #d7dae3;
}

form {
  height: 50px;
  background-color: #344ec2;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  border-radius: 7%;
  border-color: blue;
  height: 30px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7dae3;
}



